// Background
$background-primary: #F5F7F5;
$background-secondary: #E9ECEF;

$neutral-black: #000;

// Primary
$black-primary: #051407;
$green-primary: #28A138;
$orange-primary: #E98305;
$white-primary: #FFF;

$white-quaternary: #919191;

$green-secondary: #E9F6EB;
$white-secondary: #E4E4E4;
